.principal__formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, $colorFondo, rgb(51, 51, 51), $colorFondo);
    color: $colorFunte;
    .encabezado {
        grid-area: encabezado;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .encabezado__titulo {
            font-size: 3rem;
        }
    }
    #cuerpoFormulario {
        margin: 10rem;
        #formulario {
            font-size: 1.5rem;
            font-style: italic;
        }
    }
}