.principal__formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, $colorFondo, rgb(51, 51, 51), $colorFondo);
    color: map-get($color, colorFuente);
    .encabezado {
        grid-area: encabezado;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .encabezado__titulo {
            font-size: map-get($tamanos, fontSizeTitulo);
        }
    }
    #cuerpoFormulario {
        margin: 10rem;
        .cuerpo__formulario {
            #formulario {
                font-size: map-get($tamanos, fontSizeCuerpo);
                font-style: italic;
            }
            form {
                fieldset {
                    .botonEnviar {
                        border: none;
                        background-color: black;
                    }
                }
            }
        }
    }
}