.galeria {
    background-image: linear-gradient(to bottom, black, rgb(51, 51, 51), black);
    color: map-get($colores, colorFuente);
    .encabezado {
        grid-area: encabezado;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .encabezado__titulo {
            font-size: map-get($tamanos, fontSizeTitulo);
        }
    }
}