* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.contenedor {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
}

.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15rem;
  background-color: black;
}
.cabecera .menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 2rem;
  font-size: 2rem;
}
.cabecera .menu .menu__link {
  display: flex;
  align-items: center;
}
.cabecera .menu .menu__link:hover {
  padding: 1.5rem;
  transition: all 0.5s ease;
}
.cabecera .menu .menu__link a {
  color: white;
  text-decoration: none;
  padding: 3rem;
}

.principal {
  display: grid;
  grid-template-areas: "encabezado encabezado" "cuerpo__texto cuerpo__imagen";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  background-image: linear-gradient(to bottom, black, rgb(51, 51, 51), black);
  color: white;
}
.principal .encabezado {
  grid-area: encabezado;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principal .encabezado .encabezado__titulo {
  font-size: 3rem;
}
.principal .cuerpo {
  display: flex;
  align-items: center;
}
.principal .cuerpo .cuerpo__texto {
  grid-area: cuerpo__texto;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 2rem;
  margin: 4rem 0 0 2rem;
}
.principal .cuerpo__imagen {
  grid-area: cuerpo__imagen;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 4rem 2rem 0 0;
}
.principal .cuerpo__imagen:hover {
  opacity: 90%;
  transition: all 0.5s ease;
}
.principal .cuerpo__imagen img {
  border-radius: 10px;
}

.galeria {
  background-image: linear-gradient(to bottom, black, rgb(51, 51, 51), black);
  color: white;
}
.galeria .encabezado {
  grid-area: encabezado;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.galeria .encabezado .encabezado__titulo {
  font-size: 3rem;
}
.galeria .section__galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.galeria .section__galeria img {
  border-radius: 10px;
  margin: 4rem 0 0 0;
}
.galeria .section__galeria img:hover {
  opacity: 90%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.principal__formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, black, rgb(51, 51, 51), black);
  color: white;
}
.principal__formulario .encabezado {
  grid-area: encabezado;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principal__formulario .encabezado .encabezado__titulo {
  font-size: 3rem;
}
.principal__formulario #cuerpoFormulario {
  margin: 10rem;
  font-size: large;
}
.principal__formulario #cuerpoFormulario .cuerpo__formulario #formulario {
  font-size: 2rem;
  font-style: italic;
}
.principal__formulario #cuerpoFormulario .cuerpo__formulario form fieldset .botonEnviar {
  border: none;
  background-color: black;
}

footer {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  align-items: flex-end;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-style: italic;
}
footer .redesSociales {
  display: flex;
  justify-content: start;
  margin: 0 0 1rem 1rem;
  cursor: pointer;
}
footer .redesSociales img {
  border-radius: 10px;
  margin-right: 1rem;
}
footer .pieDePagina__texto {
  margin: 0 1rem 1rem 0;
}

@media screen and (max-width: 768px) {
  .cabecera {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .cabecera .menu .menu__link {
    padding: 0;
    width: 100%;
  }
  .cabecera .menu .menu__link a {
    padding: 0.8rem;
  }
  .principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .principal .cuerpo .cuerpo__texto {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;
  }
  .principal .cuerpo__imagen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;
  }
  .principal .cuerpo__imagen img {
    width: 100%;
  }
  .encabezado {
    margin: 1rem 0 1rem 0;
  }
  .encabezado .encabezado__titulo {
    margin: 1rem 0 1rem 0;
  }
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  footer .redesSociales,
footer .pieDePagina__texto {
    margin: 1rem 0 1rem 0;
  }
  footer {
    display: flex;
    height: 100%;
  }
  footer .redesSociales,
footer .pieDePagina__texto {
    margin: 1rem 0 1rem 0;
  }
}
@media screen and (max-width: 375px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
  .menu .menu__link {
    display: flex;
    flex-direction: column;
  }
  .menu .menu__link a {
    padding: 0;
  }
  .mapa {
    display: none;
  }
}
.botonEnviar {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px white;
  background-color: green;
}

.botonCancelar {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px white;
  background-color: red;
}

.cuerpo__beer {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  font-size: large;
}

.principal__fastfood {
  display: grid;
  grid-template-areas: "encabezado encabezado" "cuerpo__fastfood cuerpo__fastfood";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  background-image: linear-gradient(to bottom, black, rgb(51, 51, 51), black);
  color: white;
}
.principal__fastfood .encabezado {
  grid-area: encabezado;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principal__fastfood .encabezado .encabezado__titulo {
  font-size: 3rem;
}
.principal__fastfood .cuerpo__fastfood {
  grid-area: cuerpo__fastfood;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  margin: 2rem;
}/*# sourceMappingURL=styles.css.map */